*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{}

header{
    box-shadow: 0 10px 30px #3333330d;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    
}

.align-center{
    align-items: center;
}
.logo{
    max-width: 10%;
    flex-basis: 10%;
}
.logo img{}
nav{
    max-width: 80%;
    flex-basis: 80%;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{}
nav ul li a{
    font-size: 15px;
    color: #001d5f;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all .4s;
}
nav ul li a:hover{
    background-color: #001d5f;
    color: #fff;
}


.cart{
    max-width: 10%;
    flex-basis: 10%;
}
.cart ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
.cart ul li{}
.cart ul li a{
    font-size: 20px;
    color: #001d5f;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}
.cart ul li a:hover{}

.gallery-section{
    padding: 50px 0;
}
.col-1-3{
    flex-basis:33.33%;
    max-width: 33.33%;
    padding: 10px;
   
}

.gallery-section img{
    
height: 450px; 
width: 100%; 
object-fit: cover;  
object-position: center;   
border-radius: 6px;  
box-shadow: 0 0 23px #33333326;
transition: all 0.3s linear;
}
.gallery-section img:hover{
    box-shadow: 0 0 0 #33333326;
}
h1{
    font-size: 35px;
    margin-bottom:  20px;
    text-align: center;

}

.video-section{
    padding: 120px 0 ;
    
}
.video iframe{
    border-radius: 6px;
    box-shadow: 0 0 30px #001d5f66;
    
}
.col-1-2{
    flex-basis:50%;
    max-width: 50%;
    padding: 20px;
    
   
}

